<form class="add-form">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" placeholder="escribe la tarea">
    </div>
    <div class="form-control">
        <label for="day">Día y hora</label>
        <input type="text" name="text" id="day" placeholder="escribe el dia y hora">
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Reminder</label>
        <input type="checkbox" name="reminder" id="reminder">
    </div>
    <input type="submit" value="Save Task" class="btn btn-block">
</form>
